    <!-- Header -->
    <header id="top" class="header">
        <div class="text-vertical-center">
            <h1>Community Music Wall</h1>
            <h3>Sign in to start posting and voting!</h3>
            <br>
            <a href="/user/login" class="btn btn-dark btn-lg">Sign In</a> <a href="/user/new" class="btn btn-dark btn-lg">New User</a>
        </div>
    </header>

    <!-- About -->
    <section id="about" class="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Music wall is a place to list your favorite tracks!</h2>
                </div>
            </div>
            <!-- /.row -->
        </div>
        <!-- /.container -->
    </section>